<div class="container register">
  <div class="row">
    <div class="col-md-9 register-right">
      <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
        <li class="nav-item">
          <a
            class="nav-link active"
            [ngClass]="{
              active: activeForm == 'employer',
              inactive: activeForm !== 'employer'
            }"
            id="home-tab"
            data-toggle="tab"
            href="#home"
            (click)="setActiveForm('employer')"
            role="tab"
            aria-controls="home"
            aria-selected="true"
            >Employee</a
          >
        </li>
        <li class="nav-item">
          <a
            (click)="setActiveForm('hirer')"
            [ngClass]="{
              active: activeForm == 'hirer',
              inactive: activeForm !== 'hirer'
            }"
            class="nav-link"
            id="profile-tab"
            data-toggle="tab"
            href="#profile"
            role="tab"
            aria-controls="profile"
            aria-selected="false"
            >Hirer</a
          >
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        @if(activeForm==='employer'){
        <app-employee></app-employee>
        } @else if(activeForm==='hirer'){
        <app-hirer></app-hirer>
        }
      </div>
    </div>
  </div>
</div>
