<div
  class="tab-pane fade show active"
  id="home"
  role="tabpanel"
  aria-labelledby="home-tab"
>
  <h3 class="register-heading">Apply as a Employee</h3>
  <form (ngSubmit)="onSubmit()" [formGroup]="myForm">
    <div class="row register-form">
      <div class="col-md-6">
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            placeholder="First Name *"
            value=""
            required
            maxlength="10"
            minlength="5"
            formControlName="firstname"
          />
          @if(isSubmitted && myForm.get('firstname')?.getError('required')){
          <span class="text-danger">*Firstname is required</span>
          } @if(isSubmitted && myForm.get('firstname')?.getError('minlength')){
          <span class="text-danger">*Minimum length shall be 5</span>
          } @if(isSubmitted && myForm.get('firstname')?.getError('maxlength')){
          <span class="text-danger">*Maximum length shall be 10</span>
          }
        </div>
        <div class="form-group">
          <input
            type="text"
            formControlName="lastname"
            class="form-control"
            placeholder="Last Name *"
            value=""
          />
          @if(isSubmitted && myForm.get('firstname')?.getError('required')){
          <span class="text-danger">*Lastname is required</span>
          } @if(isSubmitted && myForm.get('firstname')?.getError('minlength')){
          <span class="text-danger">*Minimum length shall be 5</span>
          } @if(isSubmitted && myForm.get('firstname')?.getError('maxlength')){
          <span class="text-danger">*Maximum length shall be 10</span>
          }
        </div>
        <div class="form-group">
          <input
            type="password"
            formControlName="password"
            class="form-control"
            placeholder="Password *"
            value=""
          />@if(isSubmitted && myForm.get('password')?.getError('pattern')){
          <span class="text-danger">*Weak Password</span>
          } @if(isSubmitted && myForm.get('email')?.getError('required')){
          <span class="text-danger">*Password is required</span>
          }
        </div>
        <div class="form-group">
          <input
            type="password"
            class="form-control"
            placeholder="Confirm Password *"
            value=""
            formControlName="confirmPassword"
          />

          <div *ngIf="confirmPassword?.touched && confirmPassword?.invalid">
            <span
              class="text-danger"
              *ngIf="confirmPassword?.hasError('required')"
              >Confirm password is required</span
            >

            <span
              class="text-danger"
              *ngIf="myForm.hasError('passwordsMismatch')"
              >Passwords do not match</span
            >
          </div>
        </div>
        <div class="form-group">
          <div class="maxl">
            <label class="radio inline">
              <input type="radio" name="gender" value="male" checked />
              <span> Male </span>
            </label>
            <label class="radio inline">
              <input type="radio" name="gender" value="female" />
              <span>Female </span>
            </label>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <input
            type="email"
            class="form-control"
            placeholder="Your Email *"
            value=""
            formControlName="email"
          />
          @if(isSubmitted && myForm.get('email')?.getError('required')){
          <span class="text-danger">*Email is required</span>
          }
        </div>
        <div class="form-group">
          <input
            type="text"
            minlength="10"
            maxlength="12"
            name="txtEmpPhone"
            formControlName="number"
            class="form-control"
            placeholder="Your Phone *
            "
            value=""
          />
          @if(isSubmitted && myForm.get('number')?.getError('required')){
          <span class="text-danger">*Number is required</span>
          } @if(isSubmitted && myForm.get('number')?.getError('minlength')){
          <span class="text-danger">*Incorrect number </span>
          }
        </div>
        <div class="form-group">
          <select class="form-control">
            <option class="hidden" selected disabled>
              Please select your Security Question
            </option>
            <option>What is your Birthdate?</option>
            <option>What is Your old Phone Number</option>
            <option>What is your Pet Name?</option>
          </select>
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            placeholder="Enter Your Answer *"
            value=""
          />
        </div>
        <input type="submit" class="btnRegister" value="Register" />
      </div>
    </div>
  </form>
</div>
